html, body {
  min-height: 100vh;
}

body {
  padding-top: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #E4E5E7;  
}

.aside {
  height: 400px;
}

.main {
  height: 400px;
}

.d-flex {
  display: flex;
}

.task-title {
  padding-top: 5px;

  font-weight: 400;
}

.gray {
  color: #BDBDBD;
}

.task-title--done {
  text-decoration: line-through;
  color: #CDCDCD;
}

.task-item__buttons {
  display: flex;
  column-gap: 5px;
}

.notify-holder {
  height: 60px;
  margin-bottom: 20px;
}

.empty-list {
  padding-top: 1em;
  padding-bottom: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-list__title {
  margin-bottom: 15px;

  font-size: 28px;
  font-weight: 300;
}

.empty-list__icon {
  font-size: 32px;
  color: #42BE2A;
}

.btn-action {
  padding: 8px 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;
  border-radius: 4px;
  transition: opacity 0.2s ease-in;
  opacity: 0.5;
  background-color: #e0e5ea;
}

.btn-action:hover {
  opacity: 1;
  background-color: #e0e5ea;
}

.btn-action img {
  pointer-events: none;
}

.none {
  display: none !important;
}

.float-right {
  float: right;
}
